<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<form action="/account/register" method="post" class="wf1">
    <fieldset>
        <legend>User information</legend>
        <label>First Name*: <input type="text" name="account_firstname" id="account_firstname" placeholder="First Name" required></label>
        <label>Last Name*: <input type="text" name="account_lastname" id="account_lastname" placeholder="Last Name" required  ></label>
        <label>Email Address*: <input type="text" name="account_email" id="account_email" placeholder="Email" required  ></label>
        <label>Password*: <input type="password" name="account_password" id="account_password" placeholder="Password" required  ></label>
        <span id="pswBtn">Show Pasword</span>
    </fieldset>
    <input type="submit" name="register" value="Register">
</form>