@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root{
  --text_color:#15f4ee;
}

body {
  background-image: url("../images/site/small_check.jpg");
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;;
}

h1{
  font-weight: 800;
  font-size: 28px;
}

h2{
  font-size: 24px;
}

#top-header{
  padding-top: 10px;
}

.wrapper{
  margin: auto;
  width:560px;
  padding: 0;
  border: 1px solid #15f4ee;
  background-color: white;
}

.siteName{
  font-weight: 800;
  font-size: 36px;
}

#tools{
  float: right;
  font-size: 18px;
}

nav{
  background-color: black;
  color: white;
}

nav ul{
  text-decoration: none;
  list-style: none;
  padding:10px;
}

nav ul li{
  display: inline;
  padding: 20px;
  color: aliceblue;
}

nav ul li a{
  color: aliceblue;
}

nav ul li a:hover{
  background-color: aliceblue;
  color: black;
}

.hero{
  position: relative;
}

.text{
  position: absolute;
  top: 5px;
  left: 15px;
  padding: 5px;
  padding-left: 15px;
  background: linear-gradient(gray, transparent 97%);
  color: var(--text_color);
  font-weight: bold;
}

.colorBkgr{
  background-color: var(--text_color);
  border: none;
  padding: 7px;
}

.upgrades{
  width: 440px;
  height: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: var(--text_color);
  max-width: 40%;
  margin: auto;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.car>image{
  justify-content: center;
}

.container {
  padding: 2px 16px;
  background-color: white;
}

#inv-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
}

#inv-display li{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  text-align: center;
  padding: 3px;
  margin:10px
}

.namePrice h2 a{
  color: black;
}

#inv-display li:hover{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#inv-detail{
  display: flex;
  flex-wrap: wrap;
}

#inv-detail img{
  float: left;
  border-radius: 5%;
}

.namePriceDetail{
  margin: 10px;
  width: 300px;
}

.price{
  color: grey;
}

  /*----------- Form Styling --------*/
:root {
    --legen-color: #256EFF;
    --pane-padding: 1rem;
    --px-size: 1px;
  }

  .wf1 fieldset{
    margin: 2rem 0;
    border: var(--px-size) solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
  }

  .wf1 legend{
    color:var(--legen-color);
    padding: 0 .5rem;
  }

  .wf1 label{
    display: block;
    padding-top: var(--pane-padding);
    color: #46237A;
    font-size: .9rem;
  }

  .wf1 .wf1_div{
    padding-top: var(--pane-padding);
    color:var(--legen-color);
    font-size: .9rem;
  }

  .wf1 input[type="text"],
  .wf1 input[type="password"]
  {
    background-color: #eee;
    display: block;
    border: solid var(--px-size) #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
  }

  .wf1 input[type="submit"]{
    border: none;
    background-color: #46237A;
    /*background-image: linear-gradient(#46237A, #FF495C);*/
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
  }

  .wf1 input:required{
    border-right: solid 8px red;
  }

  .wf1 input:required:valid{
    border-right: solid 8px green;
  }

@media screen and (min-width: 500px){

  .wrapper{
    margin: auto;
    width:960px;
    padding: 0;
  }

  nav ul{
    text-decoration: none;
    list-style: none;
    padding:10px;
    max-width: 100%;
    text-align: center;
    margin: auto;
  }

  nav ul li{
    display: inline;
    padding-right: 60px;
  }

  .hero{
    position: relative;
    width: 100%;
    text-align: center;
  }

  .text{
    background: linear-gradient(white, transparent 97%);
  }

  .twoColumns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .col1{
    max-width: 50%;
    text-align: center;
  }
}