<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<a href="new-classification/">Add new Classification</a>
<br>
<a href="new-inventory">Add new Vehicle</a>