<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<a href="new-classification">Add new Classification</a>
<br>
<a href="new-inventory">Add new Vehicle</a>
<br>
<h2>Manage Inventory</h2>
<p>Please select a classification from the list to see the itmes belonging to the clasification</p>
<%- classificationSelect%>
<table id="inventoryDisplay">
</table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>