<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<a href="/inventory/new-classification">Add new Classification</a>
<br>
<a href="/inventory/new-inventory">Add new Vehicle</a>